.button{
    @include themify($themes) {
        border: 0;
        padding: 1rem 3rem;
        border-radius: 3rem;
        transition: all .5s;
        &--main{
            background: themed("button-color");
            color: themed("button-text-color");
            &:hover{
                background: darken(themed("button-color"), 10%);
            }
        }
        &--light{
            background: themed("button-light-color");
            color: themed("button-main-color");
            &:hover{
                background: darken(themed("button-light-color"), 10%);
            }
        }
        &--w-full{
            width: 100%;
            text-align: center;
        }
        
    }
}